
/******* Estructura CSS *******/

/*-- Estructura ------------------------*/

/* etiquetas generales */

body {
    margin: auto 30px auto 30px; 
}


/*-- Tipografies -----------------------*/

/* etiquetas generales */

body { 
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}


/*-- Estetica --------------------------*/

/* etiquetas generales */

body {
    background-color: #282828;
}

/* titulos y paragrafos */

h1, h2, h3, h4, h5, h6  {
    color: #0069ff;
}
p {
    color:#73adff
}

/* listas */

ul {
    color: #73ADFF;
}
li {
color: #c8c8c8;

}

/* .Class / #ID */

.actu {
    color: #b6b6b6;
}
.red {
    color:#ff0000;
}

/*atributos*/

strong{ 
    color: #ffffff;
}

/* estados links */

a:link {
    color:#00e1ff;
}
a:visited {
    color:#ffa500;
}
a:hover {
    
    color: #85b134;
}
a:active {
    color:#ff0000;
}

/*a:focus {
    color:yellow;
    border: 3px solid #ffffff;
}*/
/* otros*/
span {
    color: #ffffff;
}

/*-- Media Queries Responsiu -----------*/




/*-- Notas varias ----------------------*/

/* En CSS hay 4 pseudo-estados y un 5to extra de una url, 1- link, 2- visited, 3- hover, 4- active y 5- focus. Cada una significa una cosa diferente, un estado o actuacion sobre el mismo link, y se podra diferenciar por colores, segun como se quiera ver. */ 
/* En CSS el diseny es de dalt a abaix, de movil a pantalla de pc, pasant per tab i portatil */
/* Apuntes de CSS aplicados en HTML*/
/* Se pone el elemento, seguido por { } y dentro los atributor a cambiar */