/* Apuntes de CSS aplicados en HTML*/

/* Se pone el elemento, seguido por { } y dentro los atributor a cambiar */
body {
    background-color: #282828;
    font-family: Verdana, Geneva, sans-serif;
}
h1, h2, h3, h4, h5, h6  {
    color: #0069ff;
}
.actu {
    color: rgb(182, 182, 182);
}
ul {
    color: #73ADFF;
}

li {
color: #c8c8c8;

}

strong{ 
    color: #ffffff;
}
p {
    color:#73adff
}

/* En CSS hay 4 pseudo-estados y un 5to extra de una url, 1- link, 2- visited, 3- hover, 4- active y 5- focus. Cada una significa una cosa diferente, un estado o actuacion sobre el mismo link, y se podra diferenciar por colores, segun como se quiera ver. */ 
/* En CSS el diseny es de dalt a abaix, de movil a pantalla de pc, pasant per tab i portatil */
a:link {
    color:blue;
}
a:visited {
    color:orange;
}
a:hover {
    
    color: rgb(133, 177, 52);
}
a:active {
    color:red;
}
/*a:focus {
    color:yellow;
    border: 3px solid #ffffff;
}*/
span{
    color: white;
}


